body, html{
  height:100%;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 25px;
  letter-spacing: 2px;
  text-decoration: none;
}
body{
  margin: 0px;
  background-color:#444;
  transition: all 0.3s;
}
body, a:link, a:visited, a:active{
  color: #AAA;
}
.title, .addDancerButton{
  padding:10px 20px;
  float:left;
}

.topbar .statusBtn {
  padding:10px 20px;
  float:right;
  color: #AAA;
}

.topbar{
  height:32px;
  background-color: #444;
  text-decoration: none;
  padding: 0 50px;
}

.dancer{
  border:10px solid #444;
  border-radius: 10px;
  position:absolute;
  transition: border 1.2s;  
}
.elton-john {
  border: 0px solid green;
  border-radius: 0;
  background-image: url('eltonJohn.jpg');
  background-size: 60px 80px;
  width: 60px;
  height: 80px;
}

a {
  text-decoration: none;
}

.revolve, .elton, .tiny {
  display: none;
}

.blackHoleStyle {
  border-radius: 50%;
  box-shadow: 0 0 40px #111;
}

