body, html{
  height:100%;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  transition: all 0.3s;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.statusBtn {
  padding:5px 12px;
  float:left;
}

.topbar{
  height:32px;
  background-color: #555;
  text-decoration: none;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid #444;
  border-radius: 10px;
  position:absolute;
  transition: border 1.2s;  
}
.elton-john {
  border: 0px solid green;
  border-radius: 0;
  background-image: url('eltonJohn.jpg');
  background-size: 60px 80px;
  width: 60px;
  height: 80px;
}

a {
  text-decoration: none;
}