body, html{
  height:100%;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 25px;
  letter-spacing: 2px;
  text-decoration: none;
}
body{
  margin: 0px;
  background-color:#222;
  transition: all 0.3s;
}
body, a:link, a:visited, a:active{
  color: #666;
}

a {
  transition: all 0.2s;
}
a:hover {
  color: #FFF;
}
.addDancerButton{
  padding:10px 20px;
  float:left;
}

.bar .statusBtn {
  padding:10px 20px;
}

.bar{
  height:50px;
  text-decoration: none;
  padding: 0 10px;
}

.bottom {
  position: fixed;
  z-index: 100; 
  bottom: 0; 
  left: 0;
  width: 100%;
}

.bottom .statusBtn {
  float: right;
}

.bottom:first-child{
  margin-right: 10px;
}

.dancer{
  border:10px solid #333;
  border-radius: 10px;
  position:absolute;
  transition: border 1.2s;  
}
.elton-john {
  border: 0px solid green;
  border-radius: 0;
  background-image: url('eltonJohn.jpg');
  background-size: 60px 80px;
  width: 60px;
  height: 80px;
}

a {
  text-decoration: none;
}

.revolve, .elton, .tiny {
  display: none;
}

.blackHoleStyle {
  border-radius: 50%;
  box-shadow: 0 0 40px #111;
}
.PlanetStyle {
  border-radius: 50%;
}

.PlanetStyle.Sun {
  border-radius: 50%;
  box-shadow: 0 0 100px #ffa500;
}

